@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

.form{
    width: 100%;
    height: auto;
    background-color: #EBD5C8;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}
.title{
    font-family: 'Lemonada', sans-serif;
    font-weight: 600;
    margin-bottom: 8%;
    margin-left: 3%;
    font-size: 1.5rem;
}
.containerLeft{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;  
}
.containerRight{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10%;
}
.inputPlace, .inputUrl{
    width: 80%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 5px;
    border: none;
}
.inpuDate{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.ArrivalPickerButton, .DeparturePickerButton{
    margin-bottom: 40%;
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color:  #EED271;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.what{
    width: 80%;
    margin-bottom: 5%;
    padding: 8%;
    border-radius: 5px;
    border: none; 
    
}
.budget{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}
.budgettitle{
    margin-right: 10%;
}
.inputbdget{
    width: 18%;
}
.btnsubmit{
    background-color: #DE917D;
    border-radius: 40px;
    padding: 20px 30px;
    border: none;
    margin-bottom: 15%;
    margin-top: 10%;
    color: white;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
   
}

.stickers{
    width: 200px;
    height: auto;
    align-self: flex-end;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
}
    .customButtonStyle{        
    padding: 15px 30px;
    border-radius: 20px; 
    background-color: #BDDCD7; 
    color: #333; 
    border-radius: 5px; 
    cursor: pointer;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 5%;
}
@media (max-width: 700px){
    
    .title{
     font-size: 1rem;
    }
    .form{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: auto;
 }
   .containerLeft{
     width: 100%;
     align-items: center;

 }
 .containerRight{
     width: 100%;
     align-items: center;

 }

 }