@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

.form{
    width: 100%;
    height: auto;
    background-color: #BDDCD7;
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: 'Lemonada', sans-serif;
    font-weight: 600;
    margin-bottom: 8%;
    font-size: 1.7rem;
}
.containerLeft{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7%;
    padding-top: 10%;
   
}
.containerRight{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10%;
}
.inputPlace, .inputUrl, .inputName{
    width: 100%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 5px;
    border: none;
}
.inpuDate{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.ArrivalPickerButton, .DeparturePickerButton{
    margin-bottom: 40%;
    border-radius: 5px;
    border: none;
    padding: 7px;
    background-color:  #EED271;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.what{
    width: 100%;
    margin-bottom: 5%;
    padding: 8%;
    border-radius: 5px;
    border: none; 
    
}
.budget{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}
.budgettitle{
    margin-right: 10%;
}
.inputbdget{
    width: 18%;
}
.btnsubmit{
    background-color: #DE917D;
    border-radius: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    margin-bottom: 15%;
    margin-top: 10%;
    color: white;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
   
}

.colisee{
    width: 60%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
}
.customButtonStyle{        
    padding: 15px 30px; 
    background-color: #EBD5C8; 
    color: #333; 
    cursor: pointer;
    margin-bottom: 5%;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    }


