@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

.containerFull{
  max-width: 1300px;
  margin: auto;
 background-color: #F4F4F0;
 flex-wrap: wrap;
}
.name{
   align-self: center;
   font-weight: 700;
   color: #444546;
   font-size: 3.5rem;
   
}
.title{
   display: flex;
   background-color: #DE917D;
   justify-content: center;
   padding-top: 20vh;
   padding-bottom: 5vh;
   width: 100%;
}
.activitiesGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-evenly; 
    background-color: #F4F4F0;
    margin: 0;
  }
  .Subtitle{
    background-color: white;
    font-family: 'Lemonada', sans-serif;
    padding-top:  5%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 2rem;
    font-weight: 500; 
    margin: 0;
  }
  .stickers{
    width: 200px;
    height: auto;
    margin-left: 30%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  }
  .stickers2{
    width: 200px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  }
  @media (max-width: 768px){
    .stickers2{
        width: 180px;
        height: auto;
    }
    .name{
        font-size: 3rem;
    }
    .Subtitle{
      font-size: 1.3rem;
    }
   
  }

  @media (max-width: 400px){
   
    .stickers2{
        
       width: 100px;
       height: auto;
    }
   
    .name{
      font-size: 2rem;
    }
    .Subtitle{
      font-size: 0.7rem;
      font-weight: 400;
      padding: 5% 0;
    }


}
  
 
  
  