
.containerFull{
    max-width: 1300px;
    margin: auto;
    background-color: #F4F4F0;
 }
.title{
    display: flex;
    justify-content: center;
    background-color: #EBD5C8;
    padding-top: 20vh;
    padding-bottom: 5vh;
    margin-bottom: 5%;
}
.name{
    align-self: center;
    font-weight: 800;
    font-size: 3.5rem;
    color: #444546;  
}
.photo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: auto;
}
.stickers2{
    
    width: 250px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    align-self: flex-end; 
    } 
    @media (max-width: 768px){
        
        
        .name{
          font-size: 2.5rem;
      }
      .stickers2{
        width: 180px;
        height: auto;
      }
    }    
      
    @media (max-width: 400px){
        
        
        .name{
          font-size: 2rem;
      }
      .stickers2{
        width: 130px;
        height: auto;
      }
    }    





