.carrouselContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* Style pour surcharger le bouton */
.carousel-control-prev,
.carousel-control-next {
  color: rgb(59, 57, 56); 
}
.container {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px;
  justify-items: center;
}
