/* styles/chat.module.css */

/* Conteneur principal pour le chat, ajoutez des styles généraux si nécessaire */
.container {
    background: #7D8F88; 
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    margin: auto;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
  }
.message{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
  /* Styles pour la liste des messages */
  .ulstyle {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  /* Styles pour chaque message individuel */
  .listStyle {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Styles pour le formulaire et l'entrée */
  .formStyle {
    display: flex;
    margin-top: 5%;
  }
  
  .inputStyle {
    padding: 1px 20px;
    width: 80%;
    border: 1px solid #f2abab; 
    border-radius: 15px; 
    margin-right: 10px;
    font-size: 0.7rem;
  }
  
  /* Styles pour le bouton d'envoi */
  .btnMessage {
    border: none;
    padding: 3px 3px;
    border-radius: 15px;
    display: flex;
    background-color: white;
    width: 95%;
    margin: auto;
  }
  .form{
    background-color: #DE917D;
    width: 90%;
     border: none;
     border-radius: 20px;
     padding: 15px 5px; 
     margin: auto;
     margin-top: 3%;
     margin-bottom: 3%;
     box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
  }
  .messageText{
    border-radius: 10px;
    border: white;
    width: 80%;
  }
  
 .btn{
  padding:  8px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-left: 5%;
  background-color: #EED271;
  color:  #444546;   
 }
 

  
  
 
  