@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
.containerFull{
   max-width: 1300px;
   margin: auto;
  background-color: #F4F4F0;
}
.name{
    align-self: center;
    font-weight: 700;
    color: #444546;
    font-size: 3.5rem;
    
}
.title{
    display: flex;
    background-color: #DE917D;
    justify-content: center;
    font-weight: 800;
    padding-top: 20vh;
    padding-bottom: 10vh;
    margin-bottom: 5%;
}
.date{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: small;
    
}
.stickers2{
    width: 20%;
    position: relative;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    align-self: flex-end; 
}
.tripContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5%;
  
}
.firstContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 2%;
}
.planning{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: #DADBC2;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.buttonP{
    background-color: #7D8F88;
    padding: 8px 30px; 
    border-radius: 42px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: white;  
}
.buttonS{
    background-color: #DE917D; 
    padding: 5px 30px; 
    border-radius: 42px;
    margin-bottom: 3%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: white; 

}
.titlePlanning{
    text-align: center;
    padding: 2%;
    font-family: "Lemonada", sans-serif;   
}

.budget{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #EED271;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.titleBudget{
    font-family: "Lemonada", sans-serif;
    padding-bottom: 3%;
}
.accommodations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #DE917D;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.accommodationsTitle{
    font-family: "Lemonada", sans-serif;
    margin-top: 3%;
    padding-bottom: 3%;
}

.buttonA{
    background-color: #7D8F88;
    padding: 5px 30px; 
    border-radius: 42px;
    margin-bottom: 3%;
    margin-top: 3%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border:none;
    font-weight: 700;
    color: white;  

}
.secondContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.activities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #BDDCD7;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 3%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.activitiesTitle{
    font-family: "Lemonada", sans-serif;
    margin-top: 3%;
}
.names{
    font-weight: 600;
}
.votes{
    font-size: 0.8rem;
    text-align: center;
    color: white;
}
.buttonAc{
    background-color: #EED271;
    padding: 5px 10px; 
    border-radius: 42px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: #444546; 
}
.buttonH{
    background-color: #EED271;
    padding: 10px 20px; 
    border-radius: 42px;
    margin: 4%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: #444546; 
    align-self: center;
}
.buttonL{
    background-color: #DE917D; 
    padding: 10px 30px; 
    border-radius: 42px;
    margin: 4%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: white; 
}
.thirdContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 5%;
}
.groupMembers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #EBD5C8;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-left: 5%;
}
.buttonM{
    background-color: #DE917D;
    align-self: center;
    padding: 12px 25px; 
    border-radius: 42px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    color: white;
    border: none;
}
.groupTitle{
    font-family: "Lemonada", sans-serif;
    margin-top: 3%;
    font-size: 1.7rem;
}
.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #DADBC2;
}
.chatTitle{
    font-family: "Lemonada", sans-serif;
    font-size: 1.7rem;
    margin-top: 2.5%;
    margin-bottom: 4%;   
}
.date1{
    margin-right: 6%;
}
.during{
    font-size: 1rem;
    margin-top: 5%;
    font-weight: 700;
}

.mapContainer{
    margin-top: 3%;
    border-radius: 20px;
    margin-left: 3%;
    width: 100%;
    height: auto;
}

