@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
.containerFull{
   max-width: 1300px;
   margin: auto;
  background-color: #F4F4F0;
  flex-wrap: wrap;
}
.name{
    align-self: center;
    font-weight: 700;
    color: #444546;
    font-size: 3.5rem;
    
}
.title{
    display: flex;
    background-color: #DE917D;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
    margin-bottom: 5%;
}
.date{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: small;
    
}
.stickers2{
    width: 20%;
    height: auto;
    position: relative;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    align-self: flex-end; 
}
.tripContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
  
}
.firstContainer, .secondContainer, .thirdContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: flex-start;
}
.planning{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #DADBC2;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.buttonP{
    background-color: #7D8F88;
    padding: 8px 30px; 
    border-radius: 42px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: white; 
    margin-bottom: 8%; 
}
.buttonS{
    background-color: #DE917D; 
    padding: 8px 30px; 
    border-radius: 42px;
    margin-bottom: 3%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: white; 

}

.budget{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #EED271;
    padding-top: 10%;
    padding-bottom: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.subtitle{
    font-family: "Lemonada", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 3%;
    font-weight: 600;
}
.accommodations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #DE917D;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 5%;
}
.accommodationsTitle{
    font-family: "Handlee", sans-serif;
    margin-top: 3%;
    padding-bottom: 3%;
}

.buttonA{
    background-color: #7D8F88;
    padding: 5px 30px; 
    border-radius: 42px;
    margin-bottom: 3%;
    margin-top: 3%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border:none;
    font-weight: 700;
    color: white;  

}
.imagedeco{
    width: 100%;
    height: auto;
   
  
}
.stickersM{
    width: 100%;
    height: auto;
    border-radius: 10px;
   

}

.activities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #BDDCD7;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #DE917D;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 5%;
}
.stickersVan{
    width: 300px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));

}
.van{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.votes{
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.buttonH{
    background-color: #EED271;
    padding: 10px 20px; 
    border-radius: 42px;
    margin: 4%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: #444546; 
    align-self: center;
}
.buttonL{
    background-color: #DE917D; 
    padding: 10px 30px; 
    border-radius: 42px;
    margin: 4%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: white; 
}

.groupMembers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #EBD5C8;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}
.buttonM{
    background-color: #DE917D;
    align-self: center;
    padding: 12px 25px; 
    border-radius: 42px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    color: white;
    border: none;
}

.chatContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #DADBC2;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
}
.buttonChat{
    background-color: #EED271;
    border-radius: 42px;
    margin-bottom: 5%;
    margin-top: 3%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border:none;
    font-weight: 700;
    border-radius: 42px;
    border: none;
    align-self: flex-end;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 1.2rem;
    align-self: auto;
    transition: 1133ms;
    transform: translateY(0);
    color: #444546; 
}
.buttonChat:hover{
    transition: 1133ms;
    padding: 20px 60px;
    transform: translateY(-0px);
  }
.buttonAlbum{
    background-color: #7D8F88;
    align-self: center;
    padding: 12px 25px; 
    border-radius: 42px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    color: white;
    border: none;

}

.date1{
    margin-right: 6%;
}
.during{
    font-size: 1rem;
    margin-top: 5%;
    font-weight: 700;
}

.mapContainer{
    margin-top: 3%;
    border-radius: 20px;
    margin-bottom: 5%;
    width: 100%;
    height: auto;
}
@media (max-width: 1024px){
    .firstContainer, .secondContainer, .thirdContainer{

        width: 440px;
    }
    .thirdContainer{
        margin-top: 5%;
    }
}
@media (max-width: 900px){

    .firstContainer, .secondContainer, .thirdContainer{

        width: 390px;
    }


}
    @media (max-width: 760px){
        .tripContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }
        .firstContainer, .secondContainer, .thirdContainer{
            width: 90%; 
            margin-left: 0;
            margin-right: 0;
            margin: auto;
        }
        .title{
            font-size: 1rem;
        }
        .name{
            font-size: 2rem;
        } 
        .activities{
            margin-top: 5%;
        }    
}
@media (max-width: 460px){

    .firstContainer, .secondContainer, .thirdContainer{
        width: 98%; 
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }

}

