@import url('https://fonts.googleapis.com/css2?family=Roboto:400');

.nav{
    background-color: #F4F4F0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed; 
    z-index: 999;   
}
.logo{
    padding-left: 1%;
}
.login{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 100%;
}

.link{
    text-decoration: none;
    align-self: center;
    font-size: 1rem;
    letter-spacing: 1.8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(42, 38, 38);
    margin: 15px;
}
.onLine{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DE917D;
    font-weight: 700;
    margin-right: 5%
}
.logoutButton{
    justify-content: flex-end;
    border-radius: 42px;
    background-color: #7D8F88;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    color: #F4F4F0;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin-right: 2%;
}
.logout{
    align-items: center;
    list-style: none;
    padding: 0;
}
.logo{
    font-size: 2.5rem;
    font-weight: 800;
}
.burgerMenu {
    display: none; /* Par défaut caché, sera affiché via media query sur mobile */
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 30px; /* Ajustez selon vos besoins */
}

@media (max-width: 1005px) {
    .logoutButton{
        font-size: 1rem;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 700;
    }

    
}

@media (max-width: 768px) {
    .burgerMenu {
        display: block; /* Montrer le bouton sur les écrans mobiles */
    }
    .login, .logout {
        display: none; /* Caché par défaut sur mobile */
    }
    .showMenu .login, .showMenu .logout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        
        width: 100%;
        margin-bottom: 5%;
        background-color: #F4F4F0;
    }
    .li{
        margin-top: 5%;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .logoutButton{
        margin-bottom: 30%;
        margin-top: 10%;
    }
    .onLine{
        display: flex;
        margin: auto;
    }
    .logout{
        width: 30%;
        padding-bottom: 5%;
        align-items: center;
    }

}

