@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

.container{
  margin: 0;

}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F0;
}
.banner{
  height: 80vh;
  width: 100%; 
  background-image: url('/images/home/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstTitle{
  font-weight: 700;
  margin-right: 2%;
  font-size: 3rem;
  margin-bottom: 1%;
}

.secondtitle{
  font-family: 'Lemonada' sans-serif;
  text-align: center;
}

.newtrip{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.trip{
  border-radius: 30px;
  height: 18%;
  width: 20%;
  border: none;
  background-color: #EED271;
  align-self: flex-end;
  padding: 10px 20px;
  font-weight: 800;
  margin-left: 8%;
  box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
  align-self: auto;
}
.howitWorks{
  background-color: #BDDCD7;
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
}

.plane{
  margin-top: 31%;
  align-self: flex-start;

  position: absolute;
  width: 23%;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
}
.pass{
  width: 18%;
  height: auto;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  margin-bottom: 9%;
}
.stickercase{
  align-self: flex-end;
  width: 20%;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  
}




