.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  padding:0;
  background-color: #F4F4F0;
}
.banner{
  height: 70vh;
  width: 100%; 
  background-image: url('/images/home/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  line-height: 1.15;
  font-size: 4rem;
}

.newtrip{
  width: 100%;
  height: 30vh;
}
.howitWorks{
  background-color: #BDDCD7;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

