@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

.containerFull{
  max-width: 1300px;
  margin: auto;

}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: center;
  background-color: #F4F4F0;
}
.banner{
  height: 80vh;
  width: 100%; 
  background-image: url('/images/home/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondtitle{
  font-family: 'Lemonada' sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;

}

.newtrip{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.trip{
  border-radius: 42px;
  border: none;
  background-color: #EED271;
  align-self: flex-end;
  padding: 30px 30px;
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 8%;
  box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
  align-self: auto;
  transition: 1133ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trip:hover{
  transition: 1133ms;
  padding: 40px 60px;
  transform: translateY(-0px);
 
}

.carrousel{
  background-color: #BDDCD7;
  
 
}
.plane{
  
  align-self: flex-end;
  position: relative;
  top: 280px;
  left: 5%; 
  transform: translate(-50%, -50%);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  width: 300px;
}
.pass{
  align-self: flex-start;
  width: 250px;
  height: auto;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  margin-bottom: 9%;
}
.stickercase{
  align-self: flex-end;
  width: 200px;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
  
}

@media (max-width: 960px){

  .containerFull{
    margin: 0;
  }

  .plane{
  top: 180px;
  position: relative;
  left: 10%; 
  transform: translate(-50%, -50%);
  width: 190px;
  }
  .banner{
  height: 60vh;
  width: 100%; 
  }
  .secondtitle{
    font-family: 'Lemonada' sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }
}
  
  @media (max-width: 560px){

    .banner{
      height: 50vh;
      width: 100%; 
    }
    .plane{
      position: relative;
      width: 100px;
      top: 100px;
      left: 12%;
      }
      .pass{
        width: 130px;
      }
      .secondtitle{
        font-size: 1rem;
      }
      .trip{
        padding: 10px 10px;
        font-size: 1rem;

      }
      .trip:hover{
        transition: 1133ms;
        padding: 15px 30px;
      
      } 
      .stickercase{
        width: 130px;
      }  
   
  }




