.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .previewContainer {
    width: 100px; /* La taille de votre choix */
    height: 100px; /* La taille de votre choix */
    border: 1px dashed #ccc; /* Style de bordure de votre choix */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .imageFirst{
    width: 200px;
    height: auto;
    border: 1px solid black;
    background-color: white;
  }
  .placeholder {
    font-size: 50px; /* La taille de l'icône de votre choix */
    color: #ccc; /* La couleur de l'icône de votre choix */
  }
  
  .previewImage {
    width: 200px; /* Assurez-vous que l'image remplisse le conteneur */
    height: auto;
    object-fit: cover; /* Assurez-vous que l'image soit bien dimensionnée */
  }
  
  .inputContainer {
    position: relative;
    overflow: hidden;
  }
  
  .fileInput {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; 
    width: 100%; 
    height: 100%;
    cursor: pointer;
  }
  .imagePlaceholder {
    width: 100%; 
    height: 200px; 
    background-color: #cccccc; /* Gris */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666; 
    border: 2px dashed #999999;  
    border-radius: 4px; 
    font-size: 16px;
  }
  
  .imagePreview {
    width: 100%; 
    height: auto; 
    border-radius: 4px; 
  }
  
 
  
  