.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .previewContainer {
    width: 100px; /* La taille de votre choix */
    height: 100px; /* La taille de votre choix */
    border: 1px dashed #ccc; /* Style de bordure de votre choix */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .placeholder {
    font-size: 50px; /* La taille de l'icône de votre choix */
    color: #ccc; /* La couleur de l'icône de votre choix */
  }
  
  .previewImage {
    width: 100%; /* Assurez-vous que l'image remplisse le conteneur */
    height: 100%;
    object-fit: cover; /* Assurez-vous que l'image soit bien dimensionnée */
  }
  
  .inputContainer {
    position: relative;
    overflow: hidden;
  }
  
  .fileInput {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; 
    width: 100%; 
    height: 100%;
    cursor: pointer;
  }
  
 
  
  