@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
.form{
    width: 100%;
    height: auto;
    background-color: #EFD6C7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 18%;
}
.title{
   font-family: 'Lemonada' sans-serif;
   font-size: 1.5rem;
   margin: auto;
   margin-top: 5%;

}
.input{
    width: 40%;
    margin-bottom: 10%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
}
.btnMore{
    background-color: #EED271;
    padding: 5px 10px; 
    border-radius: 42px;
    margin-bottom: 5%;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    border: none;
    font-weight: 700;
    color: #444546; 
}
.btnPlus{
    margin-bottom: 10%;
}
.btn{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    margin-top: 25%;
    border-radius: 30px;
    border: white 1px solid;
    background-color: #EED271;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    
}
.stickers{
    margin-left: 70%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
    position: absolute;
    margin-top: 38%;
}
