.buttonInvitation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20%;
}

.btnUp{
    background-color: #BDDCD7;
    width: 100%;
    padding: 7px 10px;
    border-radius: 20px;
    font-weight: 500;
    color: rgb(42, 38, 38);
    margin-top: 1%;
    border: none;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 2%; 
}
.btnIn{
    background-color: #EED271;
    width: 100%;
    padding: 7px 10px;
    border-radius: 20px;
    font-weight: 500;
    color: rgb(42, 38, 38);
    margin-top: 1%;
    border: none;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 2%;
}