.log{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btnIn {
    background-color: #DE917D;
    padding: 13px 30px;
    border-radius: 42px;
    font-weight: 500;
    color: rgb(42, 38, 38);
    border: none;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    margin-left: 20%;
    font-size: 1.3rem;
    align-items: center;
    justify-items: center;
}
.btnUp{
    background-color: #EED271;
    padding: 13px 30px;
    border-radius: 42px;
    font-weight: 500;
    color: rgb(42, 38, 38);
    border: none;
    box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
    font-size: 1.3rem;
}
@media (max-width: 768px){
    .btnIn{
        padding: 8px 10px;
        font-size: 1rem; 
    }
    .btnUp{
        padding: 8px 10px; 
        font-size: 1rem;
    }
    .log{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
}




