

.btnIn {
    background-color: #DE917D;
    width: 12%;
    padding: 7px 10px;
    border-radius: 20px;
    font-weight: 500;
    color: rgb(42, 38, 38);
}
.btnUp{

    background-color: #EED271;
    width: 12%;
    padding: 7px 10px;
    border-radius: 20px;
    font-weight: 500;
    color: rgb(42, 38, 38);
}




