@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
.pageContainer{
    width: 100%;
    margin: 0;
    padding: 0;
}
.containerFull{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0px;
    background-color: #F4F4F0;
  }
.header{
    height: 13vh;
    z-index: 999;
    position: fixed;
    background-color: #F4F4F0;
    width: 100%; 
}
.myTrips{

    background-color: #F4F4F0;
}
.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBD5C8;
    padding-top: 15vh;
    padding-bottom: 5vh;  
} 
.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: 700;
    align-self: center;
    color: #444546;
    font-size: 3.5rem;
}
.tripInfo{
    width: 85%;
    height: auto;
    background-color: #BDDCD7;
    margin-top: 5%;
}

.footer{
    width: 100%;
    height: 30VH;
    background-color:#DADBC2;
    margin-top: 10%;
}
.pass{
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
     width: 280px;
     height: auto;
     position: relative;
      
}
@media (max-width: 768px){
    .pass{
        width: 130px;
        height: auto;
    }
    .title{
        font-size: 2rem;
    }
   

}
@media (max-width: 400px){
   
    .titleContainer{
        width: 100%;
        margin: auto;
    }


}
