@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
.form{
width: 100%;
background-color: #F4F4F0;

}
.datesTitle{
    margin-bottom: 5%;
    font-family: 'Lemonada', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    
}
.datep{
    display: flex;
    justify-content: center;
}
.departure,
.return {
  margin-right: 5%; 
}
.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}


.datePickerButton { 
  padding: 20px 100px;
  border-radius: 15px;
  font-weight: 500;
  color: white;
  border: none;
  margin-top: 2%;
  margin-right: 20%;
  box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
  background-color: #DE917D;
}
 

.departure:last-child,
.return:last-child {
  margin-right: 0;
}
.location{
    font-family: 'Lemonada', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #BDDCD7;
    margin-bottom: 10%;
}
.here{
    margin-right: 5%;
    font-size: 1.5rem;
}
.input{
    padding: 10px;
}
.name{
    width: 100%;
    display: flex;
}
.combi{
    width: 30%;
    margin-left: 3%;
    height: auto;
}
.pass{
    width: 100%;
}
.formName{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    width: 70%;
}
.choice{
    font-size: 1.5rem;
    font-family: 'Lemonada', sans-serif;
   
}
.inputName{
    border-radius: 5px;
  height: 15%;
  width: 80%;
  border: 1px solid #BDDCD7;
  
}
.create{
  border-radius: 20px;
  height: 15%;
  width: 40%;
  border: none;
  background-color: #EED271;
  align-self: center;
  margin-bottom: 5%;
  font-weight: 800;
  margin-left: 8%;
  box-shadow: 4px 15px 15px -3px rgba(0,0,0,0.1);
}


